* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*=================================================
            TOTAL SECTION
==================================================*/

#total {
    background-color: #475461;
    padding: 40px 0 60px 0;
    color: #fff;
}

.title {
    width: 900px;
    margin: 0 auto 20px auto;
}
.title h1 {
    font-size: 40px;
    font-family: 'Lusitana', serif;
    font-weight: bold;
}
.total {
    width: 350px;
    margin: 0 auto;
    text-align: center;
}
.total h3 {
    font-size: 16px;
    font-weight: 400px;
}
.total > p {
    font-size: 50px;
    padding: 15px 0;
}
.display-income {
    padding: 10px;
    margin: 10px 0;
    border-radius: 3px;
}
.total-income-title {
    float: left;
}
.total-income-amount {
    float: right;
}
.total .income {
    background-color: #4ad3aa;
}
.total .expenses {
    background-color: #f25454;
}

/*=================================================
            FORM VALUES SECTION
==================================================*/

#form-values {
    background-color: #d3d3d3;
    padding: 10px 0;
    text-align: center;
}
select {
    height: 40px;
    width: 50px;
    border: 1px solid #ccc;
    font-weight: 700;
    margin-right: 10px;
}
.form-control {
    height: 40px;
    padding: 8px 10px;
    background-color: #fff;
    font-weight: 700;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#description {
    width: 300px;
}

#amount {
    width: 100px;
}

#add_button {
    padding: 8px 25px;
    background-color: #898989;
    color: #fff;
}
#add_button:hover {
    cursor: pointer;
}

select, .form-control {
    outline: none;
}

/*=================================================
            CLEAR FIX
==================================================*/

.group:after {
  content: "";
  display: table;
  clear: both;
}
